*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Pappins',sans-serif;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
}

header{
    position: relative;
    height: 100vh;
    width: 100%;
}

.checkBtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}


.logo{
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.logo img{
    width: 100%;
}

.logo p{
    color: white;
    text-transform: uppercase;
    font-size: 9px;
}

nav{
    margin: 0 auto;
    position: absolute;
    z-index: 3;
    background: #1b1b1b;
    height: 100px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav ul{
    overflow: hidden;
    display: flex;
    height: 100px;
    align-items: center;
}

nav ul li a{
    color: white;
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
}



.icon{
    display: flex;
    align-items: center;
    height: 100px;
    width: 60px;
}

.icon i{
    color: white;
}


nav ul li:hover{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #bc9667;
    height: 40px;
    transition: 1s;
}







.coffee{
    background:linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)),url("images/coffee.jpg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    position: absolute;
    z-index: 2;
}

.coffee-info{
    left: 200px;
    top: 200px;
    position: absolute;
    z-index: 1;
}



.coffee-text p{
    color: #bc9667;
    font-size: 80px;
    text-transform: uppercase;
    font-weight: bold;
}

.info{
    width: 400px;
    height: 150px;
    margin-top: 25px;
}

.info p{
    color: white;
    font-size: 22px;
}

.btn button{
    width: 150px;
    height: 42px;
    border-radius: 5px;
    background: #bc9667;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.about{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.about-info{
    width: 700px;
}

.about-info h2{
    text-transform: uppercase;
    font-size: 33px;
    margin-bottom: 15px;
}

.about-info p{
    font-size: 22px;
    margin-bottom: 30px;
}

.product-item{
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-top: 50px;
    flex-wrap: wrap;
}

.product{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
}

.product-title h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
}

.products{
    width: 385px;
    height: auto;
    box-shadow: 0 9px 14px #ababab;
    border-radius: 5px;
    margin: 25px;
}

.product-img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 380px;
}

.product-img img{
    width: 100%;
}
.info-product{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.info-product p {
    text-transform: uppercase;
}

.product-price{
    width: 80px;
    height: 30px;
    background: #bc9667;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-price p{
    color: white;
}




.add-cart button{
    width: 150px;
    height: 30px;
    color: black;
    background: white;
    border: 1px solid #bc9667;
    text-transform: uppercase;
}

.check{
    display: none;
    visibility: hidden;
    -webkit-appearance: none;
}
.toggle i{
    display: none;
}

.toggle{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 20px;
    left: 15px;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
}

.toggle i{
    color: white;
}

.price-btn{
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
}

.customers{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customers h2{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.customers-item {
    width: 340px;
    height: auto;
    box-shadow: 0 0 6px -1px;
    border-radius: 5px;
    margin-top: 40px;
}

.estimated{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.estimated i {
    font-size: 13px;
    color: #bc9667;
}

.description{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}

.description > p{
    font-size: 12px;
    text-align: center;
}

.customers-description{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    flex-direction: column;
}


.name > p{
    font-weight: bold;
}


.customers-photo img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.customers-list{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    flex-wrap: wrap;
}



footer{
    margin-top: 110px;
    display: flex;
    justify-content: space-around;
}

footer a {
    font-size: 12px;
    color: black;
}

footer li{
    margin-bottom: 5px;
}

.coffee-shop{
    width: 225px;
}

.text-coffeeShop p {
    font-size: 12px;
    text-align: center;
}

.text-coffeeShop h4{
    font-weight: 600;
    margin-bottom: 30px;
}

.icon-services{
    display: flex;
    justify-content: space-between;
}

.application{
    width: 30px;
    height: 30px;
    border-radius:50%;
    border: 1px solid #bc9667;
    display: flex;
    justify-content: center;
    align-items: center;
}

.application img{
    width: 15px;
}

.title h4{
    margin-bottom: 10px;
}

.contact{
    width: 180px;
}

.types{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 20px;
}

.types p {
    font-size: 12px;
}

.types:nth-child(2) p{
    position: absolute;
    right: 62px;
}

.types:nth-child(3) p{
    position: absolute;
    right: 57px;
}
@media (max-width: 1415px){
    .coffee-text p{
        font-size: 55px;
    }

    .coffee-info {
        left: 55px;
    }

    .about-info h2 {
        text-transform: uppercase;
        font-size: 30px;
        margin-bottom: 4px;
    }

    .about-img img{
        width: 600px;
    }

    .about-info p {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .btn button {
        width: 144px;
        height: 37px;
    }

    .product-title h2 {
        font-size: 27px;
    }

    nav ul li a {
        font-size: 14px;
        padding: 19px;
    }
    .coffee-info {
        left: 40px;
    }
}

@media (max-width: 1181px){
    .product-item {
        width: 100%;
    }
}

@media (max-width: 1069px){
    .product-item{
        justify-content: center;
    }
}

@media (max-width: 1033px){
    .about-info {
        width: 429px;
    }

    .about{
        justify-content: space-between;
    }

    .about-info p {
        font-size: 16px;
        margin-bottom: 11px;
    }
}

@media (max-width: 900px) {

    footer a{
        font-size: 10px;
    }

    .types p{
        font-size: 10px;
    }

    .types:first-child p{
        position: absolute;
        left: 40px;
    }

    header{
        height: 77vh;
    }
    .checkBtn{
        display: block;
        line-height: 105px;
    }

    .logo{
        height: 80px;
    }

    .coffee{
        height: 77vh;
    }
    nav{
        width: 100%;
    }
    nav ul{
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(2px) contrast(0.6);
        position: absolute;
        top: 80px;
        left: 0;
        z-index: 4;
    }

    nav ul li{
        display: block;
        line-height: 30px;
        background: #1b1b1b;
        padding: 8px;
        margin: 15px;
        border-radius: 5px;
    }
    nav ul li:hover{
        border: 2px solid #bc9667;
        height: 40px;
        transition: 1s;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav ul li a:hover{
        text-align: left;
    }


    #check ~ ul{
        display: none;
        width: 100%;
        height: 259px;
}

     #check:checked ~ ul{
       left: 0;
       display: block;
    }

   header{
    position: relative;
   }

    .search-box {
        display: flex;
        align-items: center;
        height: 120px;
        justify-content: center;
        width: 650px;
    }

    .about-info h2 {
        font-size: 23px;
    }

    .about-info p {
        font-size: 14px;
    }


    .btn button {
        width: 117px;
        height: 34px;
        font-size: 13px;
    }


    .about {
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 33px;
    }


    .about-info {
        width: 90%;
    }

    .about-info p {
        font-size: 18px;
    }

    .btn button {
        width: 146px;
        height: 38px;
        font-size: 16px;
    }

    .about-img img {
        width: 500px;
    }
}

@media (max-width: 670px) {
    .customers {
        margin-top: 45px;
    }

    footer{
        justify-content: space-between;
    }

    footer a{
        font-size: 12px;
    }

    .application img {
        width: 15px;
    }

    .text-coffeeShop p{
        font-size: 8px;
    }

    .coffee-shop {
        width: 158px;
    }
    .text-coffeeShop h4 {
        margin-bottom: 10px;
        font-size: 16px;
    }

    .text-coffeeShop p {
        font-size: 12px;
    }
    .title h4{
        font-size: 16px;
    }

    .types i{
        font-size: 12px;
    }

    .application{
        width: 25px;
        height: 25px;
    }

    .types p{
        font-size: 8px;
    }

    .contact {
        width: 104px;
    }
    .types:first-child p {
        left: 38px;
    }

    .types:nth-child(2) p {
        right: 6px;
    }

    .types:nth-child(3) p {
        right: 2px;
    }

    header{
        height: 50vh;
    }
    .logo {
        width: 129px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .logo img {
        width: 70px;
    }

    .coffee{
        height: 88vh;
    }

    .coffee-text p {
        font-size: 40px;
    }

    .info p {
        color: white;
        font-size: 16px;
    }

    .info {
        width: 400px;
        height: 86px;
        margin-top: 10px;
    }

    .coffee {
        height: 47vh;
    }

    .coffee-info{
        margin-top: -75px;
    }
}


@media (max-width: 535px){
    .customers-list{
        width: 90%;
    }
    header {
        height: 48vh;
    }

    .about-img{
        margin-top: 22px;
    }
    .coffee-text p {
        font-size: 22px;
    }
    .product-title h2 {
        font-size: 21px;
    }

    .shop-coffee{
        margin-top: 20px;
    }

    .coffee-info {
        margin-top: -50px;
    }

    .info {
        width: 250px;
        height: 43px;
        margin-top: 5px;
    }
    .info p{
        font-size: 12px;
    }
    .about-info p {
        font-size: 13px;
    }

    .btn button {
        width: 128px;
        height: 33px;
        font-size: 13px;
    }


    .products{
        height: auto;
    }

    .about-img img {
        width: 288px;
    }

}

@media (max-width: 500px){
    .coffee-shop {
        width: 105px;
    }

    .text-coffeeShop h4 {
        margin-bottom: 10px;
        font-size: 11px;
    }
    .text-coffeeShop p {
        font-size: 8px;
    }

    .application {
        width: 20px;
        height: 20px;
    }

    .application img {
        width: 10px;
    }

    .title h4 {
        font-size: 11px;
    }
    footer a {
        font-size: 8px;
    }
}

@media (max-width: 380px){
    .text-coffeeShop p {
        font-size: 6px;
        margin-bottom: 10px;
    }

    .types:first-child p {
        left: 20px;
    }

    .text-coffeeShop h4 {
        margin-bottom: 10px;
        font-size: 10px;
    }

    .title h4 {
        font-size: 10px;
    }

    footer a {
        font-size: 6px;
    }


    footer li {
        margin-bottom: -3px;
    }

    .title h4 {
        margin-bottom: 0;
    }

    .types i {
        font-size: 8px;
    }

    .contact {
        width: 85px;
    }

    .coffee-shop {
        width: 78px;
    }
}